{% extends "base.html" %}
{% block title %}Новая задача{% endblock %}
{% block content %}
<form action="{% url "add_task" %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div><br> <input type="submit" name="action" value="Подтвердить"> <input type="reset" value="Очистить"></div><br>
</form>
{% endblock %}