{% load tz %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<head>
    <meta charset="UTF-8">
    <title>TODO manager</title>
    <style>
        table, td, th { border: 1px solid black; text-align: center; }
        table { border-collapse: collapse; width: 75%; }
        td { height: 33px; text-align: center; }
        ul.top_menu {
            margin: 0;
            padding: 4px;
            background: #786b59;
        }
        ul.top_menu li {
            display: inline;
            margin-right: 5px;
            padding: 3px;
        }
        ul.top_menu a {
             color: white
        }
    </style>
</head>
<body>
    <div>{% localtime on %}{% now "DATETIME_FORMAT" %}{% endlocaltime %}</div>
    <h2 style="padding-left: 1%;padding-bottom: 1%;">{% block title %}{% endblock %}</h2>
    <ul class="top_menu">
        <li><a href="/">Главная</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'add_task' %}">Создать задачу</a></li>
            {% block list_items %}{% endblock %}
            <li><a href="{% url 'account_logout' %}">Выход</a></li>
        {% else %}
            <li><a href="{% url 'account_login' %}">Вход</a></li>
        {% endif %}
    </ul>
    <div style="padding-top:25px;padding-left:50px;">
        {% block content %}{% endblock %}
    </div>
</body>
</html>