{% extends "base.html" %}
{% block title %}Изменение задачи {{ task.title }}{% endblock %}
{% block content %}
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <div><br> <input type="submit" name="action" value="Подтвердить"> <input type="reset" value="Очистить"></div><br>
    </form>
{% endblock %}