{% extends "base.html" %}
{% block title %}Список {{ list.name }}{% endblock %}
{% block content %}
    <table>
        <tr>
            <th>{{ list.name }}</th>
            <th>Статус</th>
            <th>Срок выполнения</th>
        </tr>
        {% for todo in items %}
            <tr>
                <td><a href="/view/{{ todo.slug }}">{{ todo }}</a></td>
                <td>
                    {% if todo.completed %}Выполнено
                    {% elif todo.aborted %}Не выполнено
                    {% elif todo.cancelled %}Отменено
                    {% else %}Выполняется{% endif %}
                </td>
                <td>{% if todo.due_date %}{{ todo.due_date }}{% else %} - {% endif %}</td>
                <td>
                    <form method="GET" action="{% url 'change' %}">
                        <button type="submit" name="todo" value={{ todo.id }}>Изменить</button>
                    </form>
                </td>
                <td>
                    <form method="POST" action="{{ request.path }}">
                        {% csrf_token %}
                        <button type="submit" name="submit" value={{ todo.id }}>Удалить</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <form method="POST" action="">
        {% csrf_token %}
        <div>{{ form }} <input type="submit" name="submit" value="Отправить"></div>
    </form>
    <br>
{% endblock %}
{% block list_items %}
    {% for list in todo_lists %}
        <li><a href="/list/{{ list.slug }}" style="padding-right: 5px">{{ list.name }}</a></li>
    {% endfor %}
{% endblock %}
