{% extends "base.html" %}
{% block title %}Здравствуйте {{ user.username }}{% endblock %}
{% block content %}
    <table style="text-align:center;">
        <tr>
            <th></th>
            <th>Категория</th>
            <th>Статус</th>
            <th>Срок выполнения</th>
        </tr>
            {% for todo in todo_all %}
                <tr style="padding: 5px">
                    <td><a href="/view/{{ todo.slug }}">{{ todo }}</a></td>
                    <td>{% if todo.list %}{{ todo.list }}{% else %} - {% endif %}</td>
                    <td>
                        {% if todo.status == 'completed' %}Выполнено
                        {% elif todo.status == 'aborted' %}Не выполнено
                        {% elif todo.status == 'cancelled' %}Отменено
                        {% else %}Выполняется{% endif %}
                    </td>
                    <td>{% if todo.due_date %}{{ todo.due_date }}{% else %} - {% endif %}</td>
                    <td>
                        <form method="GET" action="{% url "change" %}">
                            <button type="submit" name="task" value={{ todo.id }}>Изменить</button>
                        </form>
                    </td>
                    <td>
                        <form method="POST" action="{% url "profile" %}">
                            {% csrf_token %}
                            <button type="submit" name="task" value={{ todo.id }}>Удалить</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
    </table>
    <br>
{% endblock %}
{% block list_items %}
    {% for list in todo_lists %}
        <li><a href="/list/{{ list.slug }}" style="padding-right: 5px">{{ list.name }}</a></li>
    {% endfor %}
{% endblock %}
