{% extends "base.html" %}
{% block title %}Список {{ list.name }} пользователя {{ user.username }}{% endblock %}
{% block content %}
    <table>
        <tr>
            <th>{{ list.name }}</th>
            <th>Статус</th>
            <th>Срок выполнения</th>
        </tr>
        {% for todo in items %}
            <tr>
                <td>{{ todo }}</td>
                <td>
                    {% if todo.completed %}Выполнено
                    {% elif todo.aborted %}Не выполнено
                    {% elif todo.cancelled %}Отменено
                    {% else %}Выполняется{% endif %}
                </td>
                <td>{{ todo.due_date }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
{% endblock %}
