{% extends "base.html" %}
{% block title %}Описание задачи {{ task.title }}{% endblock %}
{% block content %}
    <p>Название: {{ task.title }}</p>
    <p>Описание: {{ task.desc }}</p>
    <p>Создано: {{ task.created_date }}</p>
    <p>{% if task.due_date %}Действительно до: {{ task.due_date }}{% endif %}</p>
{% endblock %}